.overlay-history-tools {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  font-size: 12px;
  padding: 5px;
  color: white;
  pointer-events: auto;
}

.overlay-history-tools button {
  max-height: 20px;
  line-height: 14px;
}

.overlay-history-tools button:last-child {
  margin-left: 5px;
}
